<section id="projects">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		
            <h5><strong>End-to-end Training of Differentiable Pipelines Across Machine Learning Frameworks</strong>
            <br />Mitar Milutinovic, Atılım Güneş Baydin, Robert Zinkov, William Harvey, Dawn Song, Frank Wood, and Wade Shen 
            <br />In NIPS Workshop on Autodiff, 2017 
            <br />
            { <a href onclick="toggle('milutinovic2017pipeline-abs'); return false;">Abstract</a> |
	    <a href onclick="toggle('milutinovic2017pipeline'); return false;">BibTex</a>
	     }
	    <blockquote style="display: none;" id="milutinovic2017pipeline-abs">In this work we present a unified interface and methodology for performing end-to-end gradient-based refinement of pipelines of differentiable machine-learning primitives. This is distinguished from recent interoperability efforts such as the Open Neural Network Exchange (ONNX) format and other language-centric cross-compilation approaches in that the final pipeline does not need to be implemented nor trained in the same language nor cross-compiled into any single language; in other words, primitives may be written and pre-trained in PyTorch, TensorFlow, Caffe, scikit-learn or any of the other popular machine learning frameworks and fine-tuned end-to-end while being executed directly in their host frameworks. Provided primitives expose our proposed interface, it is possible to automatically compose all such primitives and refine them based on an end-to-end loss.</blockquote>
	    
	    <pre style="display: none;" id="milutinovic2017pipeline"><code>@inproceedings{milutinovic2017pipeline,
  title = {End-to-end Training of Differentiable Pipelines Across Machine Learning Frameworks},
  author = {Mitar Milutinovic and Atılım Güneş Baydin and Robert
            Zinkov and William Harvey and Dawn Song and Frank
            Wood and Wade Shen},
  booktitle = {NIPS Workshop on Autodiff},
  year = {2017},
}
</code></pre>
    </div>
  </div>
</div>
</section>
