---
layout: layout
---

<div class="container">

	<h2>
	  <strong>{{ page.title }}</strong>
	</h2>

	<div class="blog-title">
		<h4>
		{{ page.date | date: "%Y/%m/%d" }}
			&nbsp;&nbsp;
			{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			  {{ content }}
              		</div>
		</div>
	</div>
	{% include disqus.html %}
</div>
{% include my-body.html %}
